.navbar {
    letter-spacing: 3px;
    margin-bottom: 0;
    background-color: #2d2d30;
}
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;}
.navbar ul li a {
    text-transform: uppercase;
}
.navbar-nav ul li a:hover {
    background: red;
    color: #fff;
}
p.person {
    margin: 40px auto;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
    padding: 60px 0;
  }
  .bg-1 h3 {   
    color: #fff;
  }
  .bg-1 p {
    font-style: italic;
    text-align: center;
}
li.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
li.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
div.thumbnail {
    margin: 0;
    padding: 0 0 20px 0;
    border: none;
    border-radius: 0;
}
  .thumbnail h4 {
    padding: 15px;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
   button.btn-default {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
      margin-bottom: 20px;
  }
  button.btn-default:hover {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }